<p>Selecciona un color</p>

<div class="c-colorpicker">
  <button class="c-colorpicker__color" style="background-color:black;"></button>
  <button class="c-colorpicker__color is-active" style="background-color:red;"></button>
  <button class="c-colorpicker__color" style="background-color:blue;"></button>
  <button class="c-colorpicker__color" style="background-color:green;"></button>
  <button class="c-colorpicker__color" style="background-color:yellow;"></button>
  <button class="c-colorpicker__color" style="background-color:orange;"></button>
</div>